:root {
  color-scheme: dark;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background-color: rgba(21, 0, 44, 0.041); */
  
  background-color: #1a0000;
  background-image: url("https://images.unsplash.com/photo-1531685250784-7569952593d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
  background-attachment: fixed;
  background-size: cover;
}
.bBQvsk.bBQvsk {
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

.rounded {
  border-radius: 100%;
}

.flex {
  display: flex;
  justify-content: center;
}

.get-user {
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: large;
}

.get-timeline {
  background-color: rgb(103, 103, 252);
  padding: 10px;
  margin-left: 10px;
  border-radius: 10px;
}

.get-timeline:hover {
  background-color: rgb(88, 88, 236);
}

.card {
  background-color: rgb(37, 34, 39);
}